Options +FollowSymLinks -Indexes
RewriteEngine on
RewriteRule ^$ php/index.php [L,NC,QSA]
RewriteRule ^banned$ php/banned.php [L,NC,QSA]
RewriteRule ^ip-banned$ php/ip-banned.php [L,NC,QSA]
RewriteRule ^activity$ php/activity.php [L,NC,QSA]
RewriteRule ^activity\/post$ php/create-post.php?activity=1 [L,NC,QSA]
RewriteRule ^account\/login$ php/signin.php [L,NC,QSA]
RewriteRule ^account\/logout$ php/logout.php [L,NC,QSA]
RewriteRule ^account\/signup$ php/signup.php [L,NC,QSA]
RewriteRule ^codeofconduct$ php/code_of_conduct.php [L,NC,QSA]
RewriteRule ^check_update.json$ php/check_update.php [L,NC,QSA]
RewriteRule ^communities\/search$ php/search.php [L,NC,QSA]
RewriteRule ^communities\/all php/all-communities.php [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)$ php/community.php?id=$1 [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)\/favorite.json$ php/favorite.php?id=$1 [L,NC,QSA]
RewriteRule ^communities\/([0-9]+)\/unfavorite.json$ php/favorite.php?id=$1 [L,NC,QSA]
RewriteRule ^comments$ php/create-comment.php [L,NC,QSA]
RewriteRule ^emoji-list$ php/emoji-list.php [L,NC,QSA]
RewriteRule ^posts$ php/create-post.php [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)$ php/posts.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/replies$ php/create-reply.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/violations$ php/report.php?id=$1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)\/empathies(\.delete)?$ php/yeah.php?id=$1&type=1 [L,NC,QSA]
RewriteRule ^replies\/([0-9]+)$ php/reply.php?id=$1 [L,NC,QSA]
RewriteRule ^posts\/([0-9]+)\/empathies(\.delete)?$ php/yeah.php?id=$1&type=0 [L,NC,QSA]
RewriteRule ^identified_user_posts$ php/identified_user_posts.php [L,NC,QSA]
RewriteRule ^my-menu$ php/my-menu.php [L,NC,QSA]
RewriteRule ^news\/my_news$ php/news.php [L,NC,QSA]
RewriteRule ^settings\/profile$ php/profile-settings.php [L,NC,QSA]
RewriteRule ^settings\/admin$ php/admin.php [L,NC,QSA]
RewriteRule ^settings\/admin\/reports$ php/admin-reports.php [L,NC,QSA]
RewriteRule ^settings\/admin\/accounts$ php/admin-accounts.php [L,NC,QSA]
RewriteRule ^settings\/admin\/site$ php/admin-site.php [L,NC,QSA]
RewriteRule ^patch$ php/patch.php [L,NC,QSA]
RewriteRule ^users$ php/user-search.php [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+)$ php/user-profile.php?id=$1 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+)\/posts$ php/user-posts.php?id=$1&mode=1 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+)\/empathies php/user-posts.php?id=$1&mode=2 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+)\/following php/user-follows.php?id=$1&mode=1 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+)\/followers php/user-follows.php?id=$1&mode=2 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+).follow.json$ php/follow.php?id=$1 [L,NC,QSA]
RewriteRule ^users/([A-Za-z0-9-_]+).unfollow.json$ php/follow.php?id=$1 [L,NC,QSA]
RewriteRule ^qna$ php/qna.php [L,NC,QSA]
ErrorDocument 404 /php/404.php
ErrorDocument 403 /php/403.php
